################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Azure.SqlServer.SingleDatabase/.vs/Azure.SqlServer.SingleDatabase
/.vs
/Azure.CosmosDb.ThroughputAutoscaling/.vs/Azure.CosmosDb.ThroughputAutoscaling
/Azure.CosmosDb.ThroughputAutoscaling/Azure.CosmosDb.ThroughputAutoscaling/.vs/Azure.CosmosDb.ThroughputAutoscaling
/Azure.CosmosDb.ThroughputAutoscaling/Azure.CosmosDb.ThroughputAutoscaling/obj/Debug
/Azure.CosmosDb.ThroughputAutoscaling/Azure.CosmosDb.ThroughputAutoscaling/bin/Debug
